.navbarItems {
    background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73, 63, 255, 1) 100%);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.navbar-logo {
    color: #fff;
    cursor: pointer;
    justify-self: start;
    margin-left: 20px;
}

.fa-react {
    font-size: 1.6rem;
    margin-left: 0.5rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style-type: none;
    justify-content: end;
    gap: 0.8rem;
    width: 70vw;
    text-align: center;
}

.nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    background-color: #6d76f7;
    border-radius: 4px;
    transition: 0.2s all ease-out;
}

.fa-bars {
    color: #fff;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {

    body {
        /* background-color: red; */
    }
    .navbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 550px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease-out;
    }

    .nav-menu.active {
        background-color: #6668f4;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease-out;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: #7577fa;
        border: 0;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-200%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }
    
    .nav-links-mobile {
        display: block;
        padding: 1rem;
        text-align: center;
        margin: 2rem auto;
        width: 80%;
        background-color: #4ade94;
        text-decoration: none;
        color: #fff;
        font-weight: 600;
        transition: 250ms ease-out;
    }

    .nav-links-mobile:hover {
        background-color: #fff;
        color: #6d76f7;
    }

    Button {
        display: none;
    }
}